
a:link, a:visited, a:active {
    color: black;
    text-decoration: none;
}

a:hover{
    font-weight: bolder;
    color: lightslategrey;
}

#fixed-header {
   position: fixed;
   background-color: white;
   width: 100%;
}
#spacer {
   height: 250px;
}
#spacer-2 {
   height: 70px;
}
#right-justified {
   float: right;
}

.content {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
    text-align: center;
    display: inline-block;
}
.title {
    font-size: 50px;
    font-family: 'Lato';
}

.load-buttons {
   padding-top: 14px;
}
.dls-left {
   width: 225px;
}

.artist {
   margin-bottom: 0;
   color: #BF6169;
}

/* All Progress Bars */
progress {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Determinate */
progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Indeterminate */
progress:not([value]) {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar {
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 3px;
}

progress::-webkit-progress-value {
    background-color: #3C92E8;
    border-radius: 3px;
}
progress {
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 3px;
    width: 100%;
}

progress::-moz-progress-bar {
    background-color: #3C92E8;
    border-radius: 3px;
}