<div id="fixed-header" class="container">
   <div class="row">
      <div class="three columns">
         <h1><a href="/" ng-click="destroyTrax()">Webdubz</a></h1>
      </div>
      
      <div class="three columns" id="right-justified">
         <h1><a href="" ui-sref="upload" ng-click="destroyTrax()">Upload</a></h1>
      </div>
   </div>
   <div class="row">
      <div class="twelve columns" id="waveform"></div>
   </div>
</div>

<div id="spacer"></div>
<div class="row track" ng-repeat="item in trax.tracks">
   <div class="three columns">
      <h5>{{ item.artist }}</h5>
   </div>
   <div class="three columns">
      <h5>{{ item.title }}</h5>
   </div>
   <div class="four columns">
      <a class="button" ng-click="loadTrax(item)">Load</a>
      <a class="button" ng-click="playTrax()"><i class="fa fa-play"></i></a>
      <a class="button" ng-click="pauseTrax()"><i class="fa fa-pause"></i></a>
      <a class="button" ng-click="checkDownload(item.id)"><i class="fa fa-download"></i></a>
   </div>
   <div class="two columns" id="{{  }}">
      <h5>Downloads Left</h5>
      <ul>
         <li>{{ item.max_downloads - item.current_downloads}}</li>
      </ul>
   </div>
</div>
